<div class="product-reviews">
	<h3><%= @comment_count %> Customer Reviews</h3>
	<% if @product.comments.exists? %>
		<% @comments.each do |comment| %>
			<hr>
			<h5>
				<span class="rated" data-score="<%= comment.rating %>"></span> By <%= comment.user.first_name %> 
				<small><em> <%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small> 
					<% if signed_in? && current_user.admin? %>
						<%= link_to ('<span class="glyphicon glyphicon-remove"></span> Delete').html_safe, product_comment_path(comment.product, comment), class: 'destroy', method: :delete, data: { confirm: 'Are you sure?' } %>
					<% end %>
			</h5>
			<p class="comment-body"><%= comment.body %></p>
		<% end %>
	<% else %>
			<p>There are no reviews yet.<% if signed_in? %> Add yours above now!<% end %></p>
	<% end %>

	<%= will_paginate @comments, class: "apple_pagination" %>
</div><!-- /product-reviews -->

