<h1>Product List</h1>

<table class="product-table">
  <thead>
    <tr>
      <th class ="productdisplay">Name</th>
      <th class ="productdisplay">Description</th>
      <th class ="productdisplay">Image url</th>
      <th class ="productdisplay">colour</th>
      <th class ="productdisplay">price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <div class="container"> 
  <div class="row">
    <% @products.each do |product| %>
<div class="col-sm-2 col-md-4">
        <%= image_tag(product.image_url, class: "img-responsive") %>
        <h2><%= product.name %></h2>
        <p><%= product.description %></p>
        <p>Colour: <%= product.colour %></p>
        <p><strong>$<%= product.price %></strong></p>
        <p class="links"><%= link_to 'Show', product %> | <%= link_to 'Edit', edit_product_path(product) %> | <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></p>
      </div><!-- /col -->
    <% end %>
    
    
    <%= render @products %>
    
    
    </div><!-- /row -->
  </div><!-- /container -->
  
  <br>


  <%= link_to 'New Product', new_product_path %>




