<div class="row">
  <% if notice %>
    <div class="alert alert-danger" role="alert"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-danger" role="alert"><%= alert %></div>
  <% end %>
</div><!-- /row -->
<div class="row nav-ctl">
  <div class="col-md-12 col-sm-12">
	  <%= link_to raw('<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> Back'), products_path, :class => "btn btn-default"  %>
	  <%= link_to raw('<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Edit'), edit_product_path(@product), :class => "btn btn-default edit"  %>
  </div><!-- /nav-ctl -->
</div><!-- /row -->
<div class="row">
  <div class="col-md-8 col-xs-12">
		<%= image_tag(@product.image_url, class: "img-responsive") %>
  </div><!-- /col-md-8 -->
  <div class="col-md-4 col-xs-12">
	  <table>
	  	<tr>
	  		<td><strong>Name:</strong></td>
	  	</tr>
	  	<tr>
	  		<td><h2><%= @product.name %></h2></td>
	  	</tr>
	  	<tr>
	  		<td><strong>Description:</strong></td>
	  	</tr>
	  	<tr>
	  		<td><%= @product.description %></td>
	  	</tr>
	  	<tr>
	  		<td><strong>Image url:</strong></td>
	  	</tr>
	  	<tr>
	  		<td><%= link_to "#{@product.image_url}", @product.image_url %></td>
	  	</tr>
	  	<tr>
	  		<td><strong>Colour:</strong></td>
	  	</tr>
	  	<tr>
	  		<td><%= @product.colour %></td>
	  	</tr>
	  	<tr>
	  		<td><strong>Average Customer Rating:</strong></td>
	  	</tr>
	  	<tr>
	  		<td><div class="rated" data-score="<%= @product.average_rating %>"></div></td>
	  	</tr>
	  	<tr>
	  		<td><strong>Price:</strong></td>
	  	</tr>
	  	<tr>
	  		<td><%= number_to_currency(@product.price) %></td>
	  	</tr>
	  </table>
	</div><!-- /col-md-4 -->
</div><!-- /row -->
<%= render 'new_comment' %>
<div class="row">
  <div class="col-md-6 col-sm-12 hi-low">
	  <h3>Highest Rated Review</h3>
	  <hr />
	  <% if @product.comments.exists? %>
	  	<h5><span class="rated" data-score="<%= @product.highest_rating_comment.rating %>"></span> By <%= @product.highest_rating_comment.user.first_name %> <small><em> <%= "#{time_ago_in_words(@product.highest_rating_comment.created_at)} ago" %></em></small></h5>

	  	<p class="comment-body"><%= @product.highest_rating_comment.body %></p>
  	<% end %>
  </div><!-- /col-md-6 -->
  <div class="col-md-6 col-sm-12 hi-low">
  	<h3>Lowest Rated Review</h3>
  	<hr />
	  <% if @product.comments.exists? %>
  	<h5><span class="rated" data-score="<%= @product.lowest_rating_comment.rating %>"></span> By <%= @product.lowest_rating_comment.user.first_name %> <small><em> <%= "#{time_ago_in_words(@product.lowest_rating_comment.created_at)} ago" %></em></small></h5>

	  	<p class="comment-body"><%= @product.lowest_rating_comment.body %></p>
		<% end %>
  </div><!-- /col-md-6 -->
</div><!-- /row -->
<div class="row">
  <div class="col-md-12 col-sm-12">
		<%= render 'comments' %>
	</div><!-- /col-md-12 -->
</div><!-- /row -->