<!DOCTYPE html>
<html>
  <head>
    <title>Rails5Proj</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
    <p id="alert" class="alert alert-info"><%= alert %></p>
<% end %>

<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: #778899;">
  <div class="container-fluid" >
    <div class="navbar-header">
      <a class="navbar-brand" href ="/">Cornato Vella</a>
    </div>
    <ul class="nav navbar-nav pull-left" style="color:black;">
      <!--<li><%= link_to "Home", static_pages_index_path%></li>-->
      <!--<li><%= link_to "About", static_pages_about_path%></li>-->
      <!--<li><%= link_to "Contact", static_pages_contact_path%></li>-->
      <!--<li><%= link_to "Projects", "/products" %></li>-->
    </ul>
 
    
    
  <div class="navbar-form navbar-right">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete, class:"btn btn-default" ) %>
      <%= link_to('Edit User', edit_user_registration_path, class:"btn btn-default" ) %> 
    <% else %>
      <%= link_to('Login', new_user_session_path, class:"btn btn-default" ) %>
      <%= link_to('Register', new_user_registration_path, class:"btn btn-default" ) %>  
    <% end %>
  </div>
  </li>
</ul>

        
        
<%= form_tag("/products", method: "get", class:"navbar-form navbar-right") do %> 
  <div class="form-group">
    <%= label_tag(:q, "Search for:", class:"hidden") %>
    <%= text_field_tag(:q, "", type:"text", class:"form-control", placeholder:"Search") %>
  </div>
<%= submit_tag("Search", class:"btn btn-default") %>
<% end %>
        
        
  </div>
</nav>



    <%= yield %>
    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Bootstrap core JS -->
    


    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://use.typekit.net/zmv6zel.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'jquery.raty.js', "data-turbolinks-track" => false %>


    <div class="footer" style="background-color: #778899;color:black;">
      <div class="container">
              <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
            </span>
      </div>
     <strong>&copy; 2017 Cornato Vella</strong> 
    </div>


  </body>
</html>
