<!DOCTYPE html>
<html>
  <head>
    <title>Rails5Proj</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>  

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Cornato Vella</a>
    </div>
    <ul class="nav navbar-nav">
      <li><%= link_to "Home", static_pages_index_path%></li>>
      <li><%= link_to "About", static_pages_about_path%></li>
      <li><%= link_to "Contact", static_pages_contact_path%></li>
      <li><%= link_to 'Products', "/products" %></li>
    </ul>
   <ul class="nav pull-right">
  <li>
  <% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path) %>
  <% end %>
  </li>
</ul>
    <form class="navbar-form navbar-left">
      <div class="field form-group">
        <%= form_tag("/products", method: "get", class: "form-horizontal") do %>
          <%= label_tag(:q, "search for:") %>
          <%= text_field_tag(:q) %>
          <%= submit_tag("search") %>
          <% end %>
        </div>  
  </div>
</nav>
    <%= yield %>
    
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <div class="footer">
      <div class="container">
              <a href='#'><i class="fa fa-twitch fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-facebook fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-twitter fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-youtube-play fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-rss fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-vine fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-flickr fa-3x fa-fw"></i></a>
              <a href='#'><i class="fa fa-linkedin fa-3x fa-fw"></i></a>
            </span>
      </div>
     <strong>&copy; 2017 Cornato Vella</strong> 
    </div>
    <!-- Bootstrap core JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Can place script tags with JavaScript files here -->
    <script src="js/scripts.js"></script>
  </body>
</html>
